



    <title>Blog Home 2 - Modern Business - Start Bootstrap Template</title>
  </head>



  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

             <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">


        </div>

      </div>

      <div class="row">

        <div class="col-md-1">
          <p><i class="icon-camera icon-4x"></i></p>
          <p>Oct 8, 2013</p>
        </div>
        <div class="col-md-5">
          <img src="https://github.com/cheatermoves/minitest/blob/master/app/assets/images/Screen%20Shot%202013-10-09%20at%202.32.51%20PM.png?raw=true" width= "470"/>


        </div>
        <div class="col-md-6">
          <h3>Want a nice looking test? Try the turn gem.</h3>
          <p>by Marshall</p>
          <p>Tests need not just be descriptive and tell you what's going on. Why not have them look nice also? with the turn gem
          that is a possibility </p>



        </div>

      </div>


      <hr>

      <h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
